/* 2008.01.03 DLN */
/* begin css reset */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	/*list-style: none;*/
   list-style: none none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
table.task {
	/*border-collapse: collapse;*/
	border-spacing: 0;
   /*border: 1;*/
   outline: 1;
}
/* end css reset */

/* begin demian */
h1 {
		font-size: 125%;
		background-color: #f8f8f8;
		border-bottom: 1px dotted #830000;
      color: #830000;
		margin-top: 20px;
		margin-bottom: 5px;
		}

h2 {
		font-size: 115%;
		border-bottom: 1px dotted #666666;
		color: #666666;
		margin-top: 10px;
		margin-bottom: 3px;
		}

a, a:visited, a:hover, a:active { 
		text-decoration: none;
		color:#830000;
		}

a:hover{ 
		text-decoration: underline;
		}

body {
		font-family: Arial, Helvetica, sans-serif, Tahoma;
		font-size: 120%;
      background-color: #dddde3;
		/*color: #666666;*/
		}

blockquote{
		background-color: #f8f8f8;
		text-decoration: italic;
		border-left: 3px dotted #666666;
		border-right: 3px dotted #666666;
		margin-left: 20px;
	}

TABLE { 
		color: #f8f8f8;
      border: black;
      width: 100%;
		/*border-collapse: collapse;*/
		/*margin: 20;*/
		}

th
{
   color: #bbb;
   background-color: #f8f8f8;
   border-bottom:1px solid #000;
   text-align: center;
   margin-left: 0px;
}

td
{ 
   color: #666666;
   /*color: #aaaaaa;*/
   /*border: #886666; */
   /*border-right:1px solid #000;*/
   text-align: left;
   margin-left: 2px;
}

pre
{
   border: 1px #B0D189; 
   background-color: #ffffff;
}

#banner{
		/*background-color: #ffffff;*/
		font-size: 120%;
      margin-top: 20px;
      margin-bottom: 5px;
		text-align: left;
		color: #830000;
      width: 80%; 
      margin-left: 20px;
		}

#content{ 
      /*background-color: #dddde3;*/
      margin-right: 20px;
      margin-left: 20px;
      background-color: #E8E8EC;
      border-top: 1px dotted #666666;
      border-bottom: 1px dotted #666666;
		}

#footer
{
   margin-right: 20px;
   margin-left: 20px;
   font-size: 80%;
   color: #666666;
   text-align: right;
}

#backlogGroup
{
   cursor: move;
   /*padding: 20px;*/
   padding-top: 20px;
   padding-bottom: 20px;
   /*margin: 0px;*/
   margin: 0px;
   width: 80%;
   background: #f7f7f7;
   border: 1px solid #eeeeee;
}

#sprintGroup
{
   cursor: move;
   padding: 20px;
   background: #f7f7f7;
   border: 1px solid #eeeeee;
}

.aside
{
   font-size: 50%;
   color: #666;
   text-decoration: italics;
   text-align: left;
}

.dragGroup
{
   background: #f7f7f7;
   padding: 10px;
   border: 1px solid #eeeeee;
   /*height: 80%;
   width: 80%;
   */
}

.dragItem
{
   font-size: 80%;
   cursor: move;
   /*background: #ffaaaa;*/
   /*padding: 2px;*/
   /*border: 1px solid #eeeeee;*/
}
/* end demian */

/* original grails css */

/* GENERAL */


input, select, textarea {
    font-size: 120%;
    color: black;
    background-color: #ffffff;
    border: 0px;
    /*
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    */
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

.button
{
    border: 1px solid #ccc;
}

select {
   padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    background-color: #fcfcaa;
}

.message 
{
   margin-top: 5px;
   margin-bottom: 5px;
   background:#FFF6BF;
   color:#514721;
}

li
{
    /*margin: 5px;*/
    /*font-size: 90%;*/
}

div.errors 
{
   margin-top: 5px;
   margin-bottom: 5px;
   background-color: #ffdddd;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
    /*line-height: 16px;*/
    /*padding-left: 30px;*/
}

td.taskBoard 
{
   border-bottom: 1px solid #ccc;
   border-right: 1px solid #ccc;
}


td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}
