div#navigation {padding-left:10px;background:#E5ECF9; text-align: left; margin-top: 10px; margin-bottom: 20px; font-size:1.5em;}
/*div.evenRow{background:#eeeeee;}*/
div.evenRow{background:#f8f8f8;}
div.oddRow{background:#ffffff;}
#footer {float:left;width:100%;background:#E5ECF9; text-align: right; margin-top: 10px; margin-bottom: 20px;}
ul.story {margin: 0;padding: 0;list-style-type:none;}
li.story {background:#eeeeff;margin:2px;padding-left:5px;border: 1px solid #ddddee}
ul.storyTitle{margin:0;padding:0;list-style-type:none;}
li.storyTitle{font-weight:bold;margin:2px;padding:5px;}
ul.task{margin:0;list-style-type:none;height:50px;}
li.task{background:#eeeeff;margin:2px;padding-left:5px;border: 1px solid #ddddee}
ul.emptyTask{padding:0;list-style-type:none;}
li.emptyTask{background:white;font-weight:bold;margin:2px;height:50px;padding:5px;}
#handle {cursor:move;}
.handle{cursor:move;}
